<footer class="bg-gray-700 text-white py-6 dark:bg-black dark:text-white">
  <div class="container mx-auto px-4 flex flex-col space-y-6 justify-center items-center dark:bg-black dark:text-white">

    <!-- nav links -->
    <div class="flex space-x-6">
      <ul class="flex space-x-4">
        <li>
          <a
            class="hover:text-purple-500 dark:bg-black dark:text-white"
            routerLink="/"
            routerLinkActive="active-link"
            >Home</a
          >
        </li>
        <li>
          <a
            class="hover:text-purple-500 dark:bg-black dark:text-white"
            routerLink="/plans"
            routerLinkActive="active-link"
            >Plans</a
          >
        </li>
      </ul>
    </div>
    
    <!-- socials -->
    <div>
        <ul class="flex space-x-4">
            <li>
                <a
                    class="hover:text-purple-500 dark:bg-black dark:text-white"
                    href="https://instagram.com"
                    target="_blank"
                    rel="noopener noreferrer">
                    <i class="fab fa-instagram hover:text-purple-500"></i>
                </a>
            </li>
            <li>
                <a
                    class="hover:text-purple-500 dark:bg-black dark:text-white"
                    href="https://facebook.com"
                    target="_blank"
                    rel="noopener noreferrer">
                    <i class="fab fa-facebook hover:text-purple-500"></i>
                </a>
            </li>
            <li>
                <a
                    class="hover:text-purple-500 dark:bg-black dark:text-white"
                    href="https://youtube.com"
                    target="_blank"
                    rel="noopener noreferrer">
                    <i class="fab fa-youtube hover:text-purple-500"></i>
                </a>
            </li>
          </ul>
    </div>

    <!-- copyright -->
    <div class="text-gray-400 text-sm">
        <p>&copy; 2025 Venetia's Telecom</p>
    </div>

  </div>
  
</footer>
