
.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

/*
.main-nav.dark-theme .navbar-brand,
.main-nav.dark-theme .nav-link,
.main-nav.dark-theme .btn {
  color: white !important;
}
*/

/* hamburger menu for light theme */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* hamburger menu for dark theme */
.main-nav.dark-theme .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.main-nav ul {
  display: flex;
  gap: 1rem;
}

.main-nav ul li {
  list-style: none;
}

.main-nav.dark-theme .nav-a.active {
  color: #ffcc00 !important;
}

